.photo-holder {
  height: 300px;
  width: 350px;
  background: rgba(255,255,255,0.9);
    padding-bottom: 30px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    border-radius: 1px;
}

.photoBox {
  width: 350px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
}

.photoBox img {
      width: 98%;
      height: 250px;
      margin: 0 auto;
      margin-top: 1%;
}

.caption-holder p {
  text-align: right;
  margin-right: 5%;
  margin-bottom: 0;
  font-weight: light;
}

.favorites-icon {
  float: left;
  height: 50px;
}

.unfavorited {
  position: relative;
  left: 0;
  top: 0;
  height: 100%;
  transition: all 0.5s;

}

.favorited {
  position: relative;
  left: 0;
  top: 0;
  height: 100%;
  transition: all 0.5s;

}
