<div class="header">
  <h1>WELCOME TO</h1><a routerLink="/"><img width="450" height="195" alt="logo" src="/assets/logo.png"></a>
</div>
<br><br>
<div class="container">
  <div class="row">
    <div class="col"><a routerLink="/home"><button type="button" class="styledButton">< Back to Albums</button></a></div>
    <h1>FOOD</h1></div>
</div><br><br>
<div class="container"><div class="row">
  <div *ngFor="let i of files">
    <app-photo-view [data]="i"></app-photo-view>
  </div>

</div></div>
<br><br><br>
<div style="text-align: center;"><a (click)="logout()"><button type="button" class="styledButton">Log Out</button></a></div>
