<div class="header">
  <h1>WELCOME TO</h1><a routerLink="/"><img width="450" height="195" alt="logo" src="/assets/logo.png"></a>
</div>
<br>
<div class="row"><h2>Create an Account below:</h2></div>
<br>

<form class="login-form">

  <div class="input-field col s12">
    <input id="email" type="email" [(ngModel)]="email" name="email">
    <label for="email">E-mail</label>
  </div>
  <div class="input-field col s12">
    <input id="password" type="password" [(ngModel)]="password" name="password">
    <label for="password">Password</label>
  </div>
  <div class="input-field col s12">
    <input id="confirmpassword" type="password" [(ngModel)]="confirmpassword" name="confirmpassword">
    <label for="confirmpassword">Confirm Password</label>
  </div>
  <a><button (click)="signUpEmail()" type="button" class="styledButton">Create Account</button></a>
</form>
<br><br><br>
<div class="row">
  <a routerLink="/login"><h4>Already have an account?<strong> Sign In.</strong></h4></a></div>



