<div class="header">
  <h1>WELCOME TO</h1><a routerLink="/"><img width="450" height="195" alt="logo" src="/assets/logo.png"></a>
</div>
<br>
<div class="row"><h2>Create an Account below:</h2></div>
<br>

<form class="login-form">

  <mat-form-field class="login-full-width">
    <input matInput placeholder="E-mail" [(ngModel)]="email" name="email">
  </mat-form-field>
  <mat-form-field class="login-full-width">
    <input matInput placeholder="Password" type=password [(ngModel)]="password" name="password">
  </mat-form-field>
  <mat-form-field class="login-full-width">
    <input matInput placeholder="Confirm Password" type=password [(ngModel)]="confirmpassword" name="confirmpassword">
  </mat-form-field>
  <a><button (click)="signUpEmail()" type="button" class="styledButton">Create Account</button></a>
</form>
<br><br><br>
<div class="row">
  <a routerLink="login"><h4>Already have an account?<strong> Sign In.</strong></h4></a></div>

