<div class="header">
  <h1>WELCOME TO</h1><a routerLink="/"><img width="450" height="195" alt="logo" src="/assets/logo.png"></a>
</div>
<br><br>
<div style="text-align: center;"><a routerLink="/"><button type="button" class="styledButton">Upload Photo</button></a></div>

<br>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <a routerLink="/sunsets"><img class="img-fluid" width="365" height="310" alt="sunsets" src="/assets/sunsets.png"></a>
    </div>
    <div class="col-sm">
      <a routerLink="/forests"><img class="img-fluid" width="365" height="310" alt="forests" src="/assets/forests.png"></a>
    </div>
    <div class="col-sm">
      <a routerLink="/mountains"><img class="img-fluid" width="365" height="310" alt="mountains" src="/assets/mountains.png"></a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <a routerLink="/water"><img class="img-fluid" width="365" height="310" alt="water" src="/assets/water.png"></a>
    </div>
    <div class="col-sm">
      <a routerLink="/landmarks"><img class="img-fluid" width="365" height="310" alt="landmarks" src="/assets/landmarks.png"></a>
    </div>
    <div class="col-sm">
      <a routerLink="/favorites"><img class="img-fluid" width="365" height="310" alt="favorites" src="/assets/favorites.png"></a>
    </div>
  </div>
</div>
