
<div class="header">
  <h1>WELCOME TO</h1><a routerLink="/"><img width="450" height="195" alt="logo" src="/assets/logo.png"></a>
</div>
<br>
<div class="row"><h2>Login below:</h2></div>
<br>

<form class="login-form">

  <div class="input-field col s12">
    <input id="email" type="email" [(ngModel)]="email" name="email">
    <label for="email">E-mail</label>
  </div>
  <div class="input-field col s12">
    <input id="password" type="password" [(ngModel)]="password" name="password">
    <label for="password">Password</label>
  </div>
  <a><button (click)="signInEmail()" type="button" class="styledButton">Login</button></a>
  <br><br>
</form>
<br><br><br>
<div class="row">
  <a routerLink="signup"><h4>Create an Account</h4></a></div>
<br>
<div class="row">
  <a routerLink="forgot"><h4>Forgot password?</h4></a></div>




