@import './custom-theme.scss';
/* You can add global styles to this file, and also import other style files */
body {
  background: linear-gradient(#165996, #177879, #169857) no-repeat;
  height: 100%;
  width: 100%;
  font-family: 'Nunito Sans', sans-serif;
}


.header {
    display: block;
    align-items: center;
    padding-top: 3%;
    padding-left: 15%;
    padding-right: 15%;
    margin: 0 auto;
}

.header * {
  display: inline-block;
}


h1 {
  color: #fff;
  font-size: 250%;
  letter-spacing: 0.7em;
  font-weight: 200;
}

h2 {
  color: #fff;
  font-size: 170%;
  font-weight: 150;
  align: center;
  margin: 0 auto;

}

h3 {
  color: #fff;
  font-weight: 100;
  align: center;
  font-size: 130%;
  padding-left: 5em;
  padding-bottom: 5em;

}

h4 {
  color: #fff;
  font-weight: 100;
  font-size: 120%;
}

a {
  margin: 0 auto;
}


hr {
    display: block;
    color: #fff;
    height: 1px;
    width: 80%;
    border: 1;
    border-top: 2px solid #fff;
    margin: 0 auto;
    padding-bottom: 3em;
}

.styledButton {
    background-color: rgba(0,0,0,0.25);
    color: #fff;
    font-size: 1.1em;
    border: 2px solid #fff;
    border-radius: 4px;
    padding: 0.8em;
    transition: all 0.25s;
    width: 12em;
}

.styledButton:hover {
  background-color: #fff;
  color: #169658;

}

.login-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}
.login-full-width {
  width: 100%;
}


/deep/ .mat-form-field-underline {
  background-color: white !important;
}


input.mat-input-element {
color: white;
}

input.mat-form-field-label {
color: white;
}

