<div class="header">
  <h1>WELCOME TO</h1><img width="450" height="195" alt="logo" src="/assets/logo.png">
</div>
<br><br>
<h2 style="text-align:center;">Select an album: </h2>
<div class="albums">
  <img width="365" height="310" alt="sunsets" src="/assets/sunsets.png"><img width="365" height="310" alt="forests" src="/assets/forests.png">
  <img width="365" height="310" alt="mountains" src="/assets/mountains.png">
</div>
<div class="albums">
  <img width="365" height="310" alt="water" src="/assets/water.png"><img width="365" height="310" alt="landmarks" src="/assets/landmarks.png">
  <img width="365" height="310" alt="favorites" src="/assets/favorites.png">
</div>
<br><br>

<div class="footer">
<hr/>


</div>



